body {
    margin-top: 100px;
    background-color: rgb(58, 58, 58);
}

.carousel-container {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    position: relative;

}

.navigation .prev {
    position: absolute;
    z-index: 10;
    top: 35%;
    left: 15px;
    font-size: 25px;
    font-weight: 700;
}

.navigation .next {
    position: absolute;
    z-index: 10;
    top: 35%;
    right: 0px;
    font-size: 25px;
}

.navigation .nav-btn {
    width: 30px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.navigation .nav-btn:hover {
    background: white;
}

.carousel {
    margin-top: 20px;
    transition: all 0.3s ease;

}

.carousel img {
    width: 100%;
    border: 8px solid white;
    transition: all 0.3s ease;
}

.item {
    display: none;
    position: absolute;
}

.main {
    display: block;
}

.caption {
    width: 103%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.4);
    font-size: 20px;
}

/* Fading animation */
.item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}